.header {
    width: 100%;
    background: $body-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;

    &.scroll-header {
        box-shadow: 0 1px 4px $boxshadow;
    }

    @import './navigation/nav-menu';
}
