&__container {
    gap: 3.2rem;
    padding-top: 1.6rem;
}

&__card {
    background: $container-color;
    padding: 4rem 4.8rem 3.2rem 2.4rem;
    border-radius: 1.6rem;

    &-number {
        display: inline-block;
        background: $primary-color-alt;
        color: white;
        padding: .8rem 1.2rem;
        border-radius: .4rem;
        font-size: $h2-font-size;
        margin-bottom: $mb-1-5;
        transition: .3s;
    }

    &-title {
        font-size: $h3-font-size;
        margin-bottom: $mb-0-5;
    }

    &-description {
        font-size: $small-font-size;
    }

    &:hover &-number{
        transform: translateY(-.4rem);
    }
}